[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quint"]
	path = quint
	url = https://github.com/cran/quint
[submodule "stima"]
	path = stima
	url = https://github.com/cran/stima
